    #registration {
        position: fixed;
        width: 100%; /* Set your desired with */
        z-index: 2; /* Make sure its above other items. */
        top: 20%;
        margin-top: 10px; /* Your width divided by 2. */
    }
