<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Assembla Extractor WebApp</title>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="css/register.css">
</head>

<body>

  <div class="container" id="registration" ng-app="myApp" ng-controller="myCtrl">

    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-5">
        <form >
          <h2 class="form-signin-heading">Register</h2>

          <div class="row">
            <div class="input-group form-group">
              <span class="input-group-addon" id="sizing-addon2">Username</span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="sizing-addon2" ng-model="username">
            </div>
          </div>


          <div class="row">
            <div class="input-group form-group">
              <span class="input-group-addon" id="sizing-addon2">Password</span>
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="sizing-addon2" ng-model="password">
            </div>
          </div>


          <div class="row">
            <div class="input-group form-group">
              <span class="input-group-addon" id="sizing-addon2">Confirm Password</span>
              <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="sizing-addon2" ng-model="confirmpassword">
            </div>
          </div>

          <div class="row">


            <div class="col-sm-6">
              <button class="btn btn-lg btn-primary btn-block" ng-click="registerUser()">Register</button>
            </div>
          <div class="col-sm-6">
              Already registed? <a href="login.html"><abbr>Login</abbr></a>
            </div>
          </div>
        </form>

      </div>
      <div class="col-md"></div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="js/xml2json.js"></script>
  <script  src="js/sessionstorage.js"></script>
  <script  src="js/register.js"></script>
</body>
</html>
